.App {
  text-align: center;
}

.container {
  height: 100vh;
  background-color: #1e2431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffc8;
  gap: auto;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 150px;
  gap: 50px;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.border-class {
  border-width: 10px;
  border-top-style: solid;
  border-left-style: double;
  border-bottom-style: solid;
  border-right-style: double;
  border-radius: 5px;
}

.contact-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.contact-link {
  display: inline;
  float: right;
  padding: 10px;
  font-size: 0.75em;
}

.text-block {
  height: 100%;
  max-width: 600px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;

  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.projects {
  margin: 0;
  padding: 0;
  border-right: 0;
  border-bottom: 0;
  position: relative;
}

.project-links {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  padding: 15px;
  height: fit-content;
  position: relative;
  top: 0;
  right: 0;
}

.project-link {
  padding: 10px 10px 0px 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

a {
  color: inherit;
  text-decoration: inherit;
  text-align: left;
  display: block;
}

pre {
  font-size: 0.55em;
  white-space: pre-wrap;
  text-align: left;
  margin-left: 10px;
  padding: 0;
}

div.body:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 125px;
  width: 125px;
  
  border-width: 10px;
  border-top-style: solid;
  border-left-style: double;
  border-radius: 5px;
}

div.body:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 125px;
  width: 125px;
  
  border-width: 10px;
  border-bottom-style: solid;
  border-right-style: double;
  border-radius: 5px;
}

div.text-block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  
  border-width: 10px;
  border-color: transparent;
  border-left-style: double;
  border-left-color: #ffffc8;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 5px;
}

div.projects:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  
  border-width: 10px;
  border-top-style: solid;
  border-left-style: double;
  border-radius: 5px;
}